{% extends 'base.html' %}

{% block head_tail %}
    {% load static %}
    <link href="{% static "css/tabs.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
    {% if tabs|length > 0 %}
        <div class="row" style="height: 100vh">
            <div class="col-md-1 fix-col-padding tabs-column">
                {% for tab in tabs %}
                    <button class="tab-button" url="{{ tab.url }}">
                        <!-- HEIGHT of this button is changed dynamically on the script below -->
                        <i class="fa fa-{{ tab.icon }}" style="font-size: x-large"></i>
                        <br>
                        {{ tab.title }}
                    </button>
                {% endfor %}
            </div>
            <iframe src="{{ tabs.0.url }}" class="col-md-11 fix-col-padding"></iframe>
        </div>
    {% else %}
        <h1>No dashboards for this database</h1>
    {% endif %}
{% endblock %}

{% block body_tail %}
    <script>
        const focus_class = "focus";
        const selected_without_focus_class = "selected-without-focus";
        const iframe = $("iframe");

        const tabs_buttons = $(".tab-button");

        // Make all tabs have the same height
        let max_height = -1;
        for (const tab of tabs_buttons) {
            const tab_height = tab.offsetHeight;
            if (tab_height > max_height) {
                max_height = tab_height;
            }
        }
        tabs_buttons.css("height", max_height);

        //set event listeners for tabs
        let selected_button = tabs_buttons[0];
        selected_button.classList.add(focus_class);

        tabs_buttons.click(function() {
            if (this === selected_button) {
                return;
            }
            selected_button.classList.remove(selected_without_focus_class);
            this.classList.add(focus_class);

            selected_button = this;

            iframe.attr("src", this.getAttribute("url"));
        });

        tabs_buttons.mouseenter(function() {
            if (this === selected_button) {
                return;
            }

            selected_button.classList.remove(focus_class);
            selected_button.classList.add(selected_without_focus_class);

            this.classList.add(focus_class);
        });

        tabs_buttons.mouseleave(function() {
            if (this === selected_button) {
                return;
            }
            this.classList.remove(focus_class);

            selected_button.classList.remove(selected_without_focus_class);
            selected_button.classList.add(focus_class);
        });
    </script>
{% endblock %}
