{% extends 'base.html' %}
{% load static %}

{% block head_tail %}
    <link rel="stylesheet" href='{% static "header.css" %}' >
    <link rel="stylesheet" href='{% static "pages.css" %}' >
{% endblock %}

{% block content %}
    <div class="page-container">
        {% include "header.html" %}

        <div class="content-container">
            <h1><i style="color: dodgerblue" class="fas fa-shield-alt"></i> Forbidden</h1>
            <p>You don't have permission to access the provided URL.</p>
        </div>
    </div>
{% endblock %}


