<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CDM-BI Displayer</title>

    {% load static %}

    <link href="{% static "bootstrap/dist/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "@fortawesome/fontawesome-free/css/all.min.css" %}" rel="stylesheet">

    {% block head_tail %}
    {% endblock %}
</head>
<body>
    {% block body_head %}
    {% endblock %}

    {% block content %}
    {% endblock %}


    <script src="{% static "jquery/dist/jquery.min.js" %}"></script>
    {% block body_before_bootstrap %}
    {% endblock %}
    <script src="{% static "bootstrap/dist/js/bootstrap.min.js" %}"></script>

    {% block body_tail %}
    {% endblock %}
</body>
</html>
