{% extends 'base.html' %}
{% load custom_tags %}
{% load static %}

{% block head_tail %}
    <link rel="stylesheet" href='{% static "pages.css" %}' >
    <link rel="stylesheet" href='{% static "header.css" %}' >
    <link rel="stylesheet" href='{% static "css/landing_page.css" %}' >
{% endblock %}

{% block content %}

    <div class="page-container">
        {% include "header.html" %}

        <div class="content-container">
            {% if tabs|length > 0 %}
                <div class="row">

                    <div class="col-md-6">
            {% endif %}
                        {{ constance_config.LANDING_PAGE_DESCRIPTION }}

                {% if tabs|length > 0 %}
                    </div>
                    <div class="col-md-6">
                        <h1>Dashboards</h1>
                        <div class="center-content" style="">
                            {% for tab in tabs %}
                                {% if tab|isinst:"tuple" %}
                                    <div class="margin-5 card">
                                        <div class="card-body bootstrap-row-modified">
                                            <div class="center-content margin-5">
                                                <i class="single-button-icon fa fa-{{ tab.0.icon }}"></i>
                                                <span class="tab-title">{{ tab.0.title }}</span>
                                            </div>
                                            {% for subtab in tab.1 %}
                                                <a class="margin-5 center-content btn button" href="/tabs#{{ subtab.title }}">
                                                    <i class="group-button-icon fa fa-{{ subtab.icon }}"></i>
                                                    <span class="tab-title">{{ subtab.title }}</span>
                                                </a>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% else %}
                                    <a class="center-content margin-5 btn button" href="/tabs#{{ tab.title }}">
                                        <i class="single-button-icon fa fa-{{ tab.icon }}"></i>
                                        <span class="tab-title">{{ tab.title }}</span>
                                    </a>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}

            {% if constance_config.LANDING_PAGE_RESUME_DASHBOARD_URL %}
                {# <h1 class="mt-5">Network</h1> #}
                <iframe class="mt-5 w-100" src="{{ constance_config.LANDING_PAGE_RESUME_DASHBOARD_URL }}" style="height: 1000px"></iframe>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block body_tail %}
{% endblock %}
