{% extends 'base.html' %}
{% load custom_tags %}

{% block head_tail %}
    {% load static %}
    <link href="{% static "css/tabs.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
        <header class="main-head">
            <nav class="head-nav">
                <ul>
                    {% for tab in tabs %}
                        {% if tab|isinst:"tuple" %}
                            <li>
                                <div class="li-content">
                                    <div class="icon-div">
                                        <i class="fa fa-{{ tab.0.icon }} icon"></i>
                                    </div>
                                    <span>
                                        {{ tab.0.title }}
                                        <i class="fa fa-angle-down expand-icon"></i>
                                    </span>
                                </div>
                            </li>
                            {% for subtab in tab.1 %}
                                <li url="{{ subtab.url }}">
                                    <div class="li-content">
                                        <div class="icon-div">
                                            <i class="fa fa-{{ subtab.icon }} icon"></i>
                                        </div>
                                        <span>
                                            {{ subtab.title }}
                                        </span>
                                    </div>
                                </li>
                            {% endfor %}
                        {% else %}
                            <li url="{{ tab.url }}">
                                <div class="li-content">
                                    <div class="icon-div">
                                        <i class="fa fa-{{ tab.icon }} icon"></i>
                                    </div>
                                    <span>
                                        {{ tab.title }}
                                    </span>
                                </div>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </nav>
        </header>
        <div class="content">
            {% if tabs|length > 0 %}
                <iframe src="{{ tabs.0.url }}"></iframe>
            {% else %}
                <h1 id="no_tabs_header">No visible tabs stored</h1>
            {% endif %}
        </div>
{% endblock %}

{% block body_tail %}
    <script src="js/tabs.js" type="text/javascript"></script>
{% endblock %}
