celery>=4.4.2                             # asynchronous task on uploader app
django-bootstrap-datepicker-plus>=3.0.5   # realease date on create data source form on uploader app
django-bootstrap4>=1.1.1                  # forms beautifier
django-model-utils>=4.0.0                 # get specific type of subclasses after requesting buttons on tabsManager app
django>=2.2.13
djangorestframework>=3.11.0               # expose tabs content through an API
gunicorn>=20.0.4                          # for production deployment
Pillow>=7.0.0                             # image fields (App Logo)
psycopg2-binary>=2.8.4                    # communicate with postgres
redis>=3.4.1                              # comunicate with redis (celery)
