{% extends "uploader_base.html" %}

{% block title %}
    {% include "upload_message.html" %}
    
    <div class="row">
        <h3 class="col">
            {% if editing %}
                Edit
            {% else %}
                Create
            {% endif %}
            Data Source
        </h3>

        {% if editing %}
        <div class="col-auto">
            <button class="btn btn-primary btn-sm-lg" onclick="window.location.href='..'">
                <i class="fas fa-arrow-left"></i> Back
            </button>
        </div>
        {% endif %}
    </div>

{% endblock %}

