{% extends 'base.html' %}
{% load bootstrap4 %}
{% load staticfiles %}

{% block head_tail %}
    <link rel="stylesheet" href='{% static "css/main.css" %}' >
    {{ form.media.css }}
{% endblock %}

{% block content %}
    <div class="grad">
        {% include "header.html" %}

        <div class="uploadMessage center">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert
                        {% if message.tags %}
                            {% if message.tags == 'error' %}
                                alert-danger
                            {% else %}
                                alert-success
                            {% endif %}
                        {% endif %}" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}

            {% include "upload_message.html" %}

            <br>

            {% block title %}{% endblock %}
            {% comment %}
            <form method="post" enctype="multipart/form-data" action=" ">
                <div class="image-upload fallback">
                    <label class="dropzone center" for="file-input">
                        <img src='{% static "images/uploadCSV.png" %}' style="width: 6rem;"/>
                        <br/>
                        <input id="file-input" class="upload_btn" type="file" name="achillesResults" action="">
                    </label>
                </div>
                <br/>
                <button class="btn btn-lg btn-primary btn-block center" type="submit"><i class="fas fa-file-upload"></i>&nbsp;Upload</button>
            </form>{% endcomment %}

            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form form %}

                {% buttons %}
                    <button type="submit" class="btn btn-primary">
                        {{ submit_button_text }}
                    </button>
                {% endbuttons %}
            </form>

            {% block upload_history %}{% endblock %}
        </div>
    </div>
{% endblock %}

{% block body_tail %}
    {{ form.media.js }}
{% endblock %}
