{% extends 'base.html' %}
{% load bootstrap4 %}
{% load staticfiles %}

{% block head_tail %}
    <link rel="stylesheet" href='{% static "css/main.css" %}' >
    {{ form.media.css }}
{% endblock %}

{% block content %}
    <div class="grad">
        {% include "header.html" %}

        <div class="uploadMessage center">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert
                        {% if message.tags %}
                            {% if message.tags == 'error' %}
                                alert-danger
                            {% else %}
                                alert-success
                            {% endif %}
                        {% endif %}" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}

            {% block title %}{% endblock %}

            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form form %}

                {% buttons %}
                    <button type="submit" class="btn btn-primary btn-sm-lg">
                        {{ submit_button_text }}
                    </button>
                {% endbuttons %}
            </form>

            {% block upload_history %}{% endblock %}
        </div>
    </div>
{% endblock %}

{% block body_tail %}
    {{ form.media.js }}
{% endblock %}
