{% extends 'base.html' %}
{% load staticfiles %}

{% block head_tail %}
    <link href='{% static "css/main.css" %}' rel="stylesheet">
    <link href='{% static "css/dropzone.css" %}' rel="stylesheet">
    <script type="text/javascript" src='{% static "js/dropzone.js" %}'></script>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript">
    	$('#file-upload').change(function() {
		  var i = $(this).prev('label').clone();
		  var file = $('#file-upload')[0].files[0].name;
		  $(this).prev('label').text(file);
		});
    </script>
{% endblock %}

{% block content %}
	<div class="grad">
	<div class="uploadHeader">
		<h1>CDM-BI Database Uploader</h1>
	</div>
	<div class="uploadMessage center">
		
	
		<form method="post" enctype="multipart/form-data" action=" ">
			{% csrf_token %}
			<div class="form-group">
				<label for="exampleInputEmail1">Database name</label>
				<input type="text" class="form-control" id="inputDB" aria-describedby="dbHelp" placeholder="Enter the database name">
			</div>
			<p>Please upload the CSV Achilles result file here (achilles_results.csv):</p>
			<div class="image-upload fallback">
				<label class="dropzone center" for="file-input">
					<img src='{% static "images/uploadCSV.png" %}' style="width: 6rem;"/>
					<br/>
					<input id="file-input" class="upload_btn" type="file" name="achillesResults" action="">
				</label>
			</div>
			<br/>
			<button class="btn btn-lg btn-outline-success center" type="submit"> Upload</button>
		</form>
	</div></div>
{% endblock %}
