<div class="uploadMessageSectionInfo">
    <div class="row">
        <div class="col-sm">
            <h4><i class="fas fa-file-download"></i>&nbsp;Export Achilles results</h4>
            <p>{{ constance_config.UPLOADER_EXPORT }}</p>
        </div>
        <div class="col-sm">
            <h4><i class="fas fa-cloud-upload-alt"></i>&nbsp;Upload Achilles results</h4>
            <p>{{ constance_config.UPLOADER_UPLOAD }}</p>
        </div>
        <div class="col-sm">
            <h4><i class="fas fa-sync-alt"></i>&nbsp;Auto update dashboard</h4>
            <p>{{ constance_config.UPLOADER_AUTO_UPDATE }}</p>
        </div>
    </div>
</div>
