{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% load markdownify %}

{% block head_tail %}
    {{ form.media.css }}
    <link rel="stylesheet" href='{% static "pages.css" %}' >
    <link rel="stylesheet" href='{% static "header.css" %}' >
    <link rel="stylesheet" href='{% static "css/uploader.css" %}' >
{% endblock %}

{% block content %}

    {% include "uploader_loading.html" %}

    <div class="page-container">
        {% include "header.html" %}

        <div class="content-container">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}

            {% block title %}{% endblock %}

            <form id="uploadForm" method="POST" enctype="multipart/form-data">
                {% bootstrap_form form %}

                {% buttons %}
                    <button type="submit" class="btn btn-primary btn-sm-lg" >
                        {{ submit_button_text }}
                    </button>
                {% endbuttons %}
            </form>

            {% block upload_history %}{% endblock %}
        </div>
    </div>
{% endblock %}

{% block body_tail %}
    {{ form.media.js }}
    <script src="{% static 'js/uploader.js' %}"></script>  
{% endblock %}
