
#pageloader {
  background: rgba( 255, 255, 255, 0.6 );
  display: none;
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 9999;
}
#pageloader .spinner-box {
  left: 50%;
  position: absolute;
  top: 50%;
}

.uploadMessageSectionInfo{
  text-align: justify;
  color: #434a54;
}

.fa-cloud-upload-alt .fa-sync-alt .fa-file-download {
  font-size: xx-large;
}
.fa-file-download {
  color: #87d534;
}
.fa-cloud-upload-alt {
  color: #329bed;
}
.fa-sync-alt {
  color: #ea6e55;
}
.btn-sm-lg{
  padding: .25rem 3rem;
}

form {
	margin-top: 30px;
}

.failed-upload-msg {
  cursor: default !important;
  padding: 0 .35rem;
}
