#pageloader
{
  background: rgba( 255, 255, 255, 0.6 );
  display: none;
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 9999;
}

#pageloader .spinner-box
{
  left: 50%;
  position: absolute;
  top: 50%;
}